
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <div class="content-header">
 
      <ul class="breadcrumb">
          <li routerLink="/home"><a><i class="fa fa-home fa-lg" aria-hidden="true"></i> &nbsp; Home</a></li>
      <li><a>Billing</a></li>
      </ul>
    </div>

  
    <!-- Main content -->
    <section [@myAnimation]="show"   class="content">

      <!-- Main row -->
      <div class="row">

              <section class="col-lg-12 " style="min-height: 40px;">
     <!----------------------------------------Bill Alerts---------------------------------------------------------------->
      <div class="col-xs-12 col-lg-4 col-lg-offset-7 " style="padding-bottom: 10px">
     <div class="input-group date pull-right boxshadow" id='date' style="cursor: pointer;">

       <input type="text" class="form-control" name="monthvalue" id='dtp' [(ngModel)]="model.monthvalue" #monthvalue="ngModel"  (ngModelChange)="model.monthvalue = $event.target.value"  ng-reflect-model="$event.target.value" (focus)="getBillingDetails($event.target.value)"
   (onblur)="getBillingDetails($event.target.value)" readonly/>
      <span class="input-group-addon" style="display:none1" >
       <span class="fa fa-calendar" id='caldt'></span>
   </span>
    </div>
  </div>

    </section>
 
        <!-- Left col -->
        <section class="col-lg-6 col-lg-offset-1 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <!-------------------Account Details---------------------------------------------------------->

   <div class="panel boxshadow">
        <div class="panel-heading" [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo}" >
          <h4>Account Details</h4>
        </div>
        <div class="table-responsive" style="height: 242px;">
<table class="table">
  <tr>
    <td>Bill Date : <span *ngFor="let b of invoiceData">{{b.month}}-{{b.year}}</span></td>
    <td>Previous Amount : <span *ngFor="let b of invoiceData">${{b.previousAmount}}</span></td>
  </tr>
    <tr>
    <td>Account Number : 160317624</td>
    <td>Payment & Adjustment : <span *ngFor="let b of invoiceData">-${{b.adjustment}}</span></td>
  </tr>
    <tr>
    <td>Customer Name : Brad Carpenter</td>
    <td>Past Due : <span *ngFor="let b of invoiceData">${{b.pastDue}}</span></td>
  </tr>
    <tr>
    <td>Billing Number : 804-325-5379</td>
    <td>Current Charge : <span *ngFor="let b of invoiceData">${{b.currentCharge}}</span></td>
  </tr>
    <tr>
    <td> Due Date : <span *ngFor="let b of invoiceData">{{b.dueDate}}</span></td>
    <td>Total Amount Due : <span *ngFor="let b of invoiceData">${{b.amount}}</span></td>
  </tr>

   <tr *ngFor="let b of invoiceData">
    <td *ngIf="b.paidAmount > 0"> Payment Received : <span *ngFor="let b of invoiceData">${{b.paidAmount}}</span></td>
    <td *ngIf="b.paidAmount > 0">Paid Date : <span *ngFor="let b of invoiceData">{{b.paidDate}}</span></td>
  </tr>
</table>
          <div class="widget-detail-1"   style="text-align: center;padding: 10px;" *ngFor="let b of invoiceData">
          <div *ngIf="b.paidAmount < 1"> 
            <button class="btn" [ngClass]="{ btnblue:isBlue, btnnavy: isNavy, btnwhite:isWhite, btngreen: isGreen, btnindigo: isIndigo}" data-toggle="modal" data-target=".bs-example-modal-lg"
                    routerLink="/payment" routerLinkActive="active1">
              Pay My Bill
            </button></div>
          </div>
        </div>
      </div>


        </section>
        <!-- /.Left col -->
    
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-4 connectedSortable">
     <!----------------------------------------Bill Alerts---------------------------------------------------------------->
    <div >
      <div class="panel boxshadow">
        <div class="panel-heading" [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo}">
          <h4>Bill Alerts</h4>
        </div>
        <div class="panel-body panelbody" style="padding: 05px;height: 242px;">
          <div class="list-group">
            <ol class='billalerts'>
              <li><p class="list-group-item-text">As a loyal customer you are receiving 30% Discount on bill.</p></li>
              <li><p class="list-group-item-text">Your usage exceeds 300GB of fair uage policy.</p></li>
              <li><p class="list-group-item-text">Your latest bill for month of Jan is available.</p></li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    </section>

            <section class="col-lg-10 col-lg-offset-1 connectedSortable">
 
  <!------------------------------------------Usage-------------------------------------------------------------------->
  <div>
    <div class="panel boxshadow">
      <div class="panel-heading" [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo}">
        <h4>Usage</h4>
      </div>
      <ul class="nav nav-tabs" >
        <li class="active"><a href="#chartdatausagediv" data-toggle="tab">Data Usage</a></li>
        <li><a href="#chartdiv" data-toggle="tab">Analyze Bill</a></li>

      </ul>
      <div id="" class="tab-content">
        <div class="tab-pane fade" id="chartdiv"></div>

        <div id="chartdatausagediv" class="tab-pane active">
        <ul class="nav nav-tabs submenu" style="text-align: center;border:0px;">
        <li class="active" style="float:none!important;display:inline-block;">
          <a href="#chartdatausage" data-toggle="tab" style="border:0px;">Calls</a></li>
      <li class="" style="float:none!important;display:inline-block;">
<h4>|</h4>
</li>
        <li  style="float:none !important;display:inline-block;">
              <a href="#datausage_stackedchartdiv" data-toggle="tab" style="border:0px;">Detailed Call Analysis</a>
        </li>

        </ul>
        <div class="tab-content box">
        <div class="tab-pane active" id="chartdatausage"></div>
        <div class="tab-pane fade" id="datausage_stackedchartdiv"></div>
      </div>
      </div>

      </div>
    </div>
  </div>
    </section>
    <!-- /.content -->
  </div>
  </section>
  </div>