    
<div *ngIf="!top" class="container-fluid" style="padding: 0px !important;">
  <side-bar></side-bar>
       <div class="progress skill-bar ">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
   <div class="pagenation col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2" style="padding: 0; background-color: #F2F2F2">
    <ol class="breadcrumb page-breadcrumb" style="margin:0px">
      <li routerLink="/home"><a><i class="fa fa-home fa-lg" aria-hidden="true"></i> &nbsp; Home</a></li>
      <li><a >Invoice Details</a></li>
    </ol>
  </div>
  <div   [@myAnimation]="show"class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-4 col-lg-8 col-lg-offset-3"  style="padding: 20px !important;">

  <div class="panel  boxshadow">
  <div class="panel-heading" [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo}"><h4>View Invoice</h4></div>
  <div class="panel-body table-responsive">
        <div  style="text-align: right !important;">
                
                <select class="col-xs-2,form-control input-sm" [(ngModel)]="rowsOnPage" >
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                </select>
            </div>
                 <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                    <th style="width: 20%">
                        <mfDefaultSorter [by]="getMonthVal">Invoice Month</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="year">Amount</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="amount">Paid Amount</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                          <mfDefaultSorter by="paidAmount">Paid Date</mfDefaultSorter>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data" >
                   
                    <td>{{item.month}}-{{item.year}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.paidAmount}}</td>
                    <td>{{item.paidDate}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                <mfBootstrapPaginator class="pull-right" [rowsOnPageSet]=""></mfBootstrapPaginator>

                        
                    </td>
                </tr>
                </tfoot>
            </table>
            <div><span style="display: flex;justify-content: center">
          <button type="button" class="btn" [ngClass]="{ btnblue:isBlue, btnnavy: isNavy, btnwhite:isWhite, btngreen: isGreen, btnindigo: isIndigo}" data-toggle="modal" data-target=".bs-example-modal-lg" routerLink="/billing" routerLinkActive="active1">View Usage Details</button>
          </span></div>
  </div>
</div>
</div>
</div>
<div *ngIf="top">
<side-bar-top></side-bar-top>
     <div class="progress skill-bar ">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
 <div class="pagenation  col-lg-12" style="padding: 0; background-color: #F2F2F2">
    <ol class="breadcrumb page-breadcrumb" style="margin:0px">
      <li routerLink="/home"><a><i class="fa fa-home fa-lg" aria-hidden="true"></i> &nbsp; Home</a></li>
      <li><a>Create Ticket</a></li>
    </ol>
  </div>
 <div   [@myAnimation]="show" class="col-xs-10 col-xs-offset-1"  style="padding: 20px !important">

  <div class="panel boxshadow" style="border:0px">
  <div class="panel-heading" [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo}"><h4>View Invoice</h4></div>
  <div class="panel-body table-responsive">
        <div  style="text-align: right !important;">
                
                <select class="col-xs-2,form-control input-sm" [(ngModel)]="rowsOnPage" >
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                </select>
            </div>
                 <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                    <th style="width: 20%">
                        <mfDefaultSorter [by]="getMonthVal">Invoice Month</mfDefaultSorter>
                    </th>
                     <th style="width: 20%">
                        <mfDefaultSorter by="year">Amount</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="amount">Paid Amount</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                          <mfDefaultSorter by="paidAmount">Paid Date</mfDefaultSorter>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data" >
                   
                    <td>{{item.month}}-{{item.year}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.paidAmount}}</td>
                    <td>{{item.paidDate}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator class="pull-right" [rowsOnPageSet]=""></mfBootstrapPaginator>
                       
                    </td>
                </tr>
                </tfoot>
            </table>
            <div> <span style="display: flex;justify-content: center">
          <button type="button" class="btn"  [ngClass]="{ btnblue:isBlue, btnnavy: isNavy, btnwhite:isWhite, btngreen: isGreen, btnindigo: isIndigo}" data-toggle="modal" data-target=".bs-example-modal-lg" routerLink="/billing" routerLinkActive="active1">View Usage Details</button>
          </span></div>
  </div>
</div>
</div>
</div>
