<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <div class="content-header">

        <ul class="breadcrumb">
            <li><a><i class="fa fa-home"></i> Home</a></li>
            <li>Dashboard</li>
        </ul>
    </div>

    <div class="row" [hidden]="!editDashboard">
        <div class="col-lg-10 col-lg-offset-1" style="margin-left: 4%">
            <div class="panel white">
                <div class="panel-heading green">
                    <h4>Customize View</h4>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1">

                            <div class="row">
                                <div class="col-lg-12">
                                    <h4>Choose Widgets</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4>Main Pane</h4>
                                    <div class="checkbox">
                                        <label><input type="checkbox" [(ngModel)]="showAccountDetails">Account
                                            Details</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" [(ngModel)]="showPreviousInvoices">Previous
                                            Invoices</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" [(ngModel)]="showServices">Services</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" [(ngModel)]="showOffers">Offers</label>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <h4>Right Pane</h4>
                                    <div class="checkbox">
                                        <label><input type="checkbox"
                                                      [(ngModel)]="showNotifications">Notifications</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" [(ngModel)]="showOpenRequests">Open
                                            Requests</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" [(ngModel)]="showSupport">Support</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" [(ngModel)]="showBlog">Windstream Blog</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" [(ngModel)]="showQuickLinks">Quick Links</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-lg-offset-1">
                            <div class="row">
                                <h4>Predefined Themes</h4>
                            </div>
                            <div class="row">
                                <ul class="list-inline" id="theme">
                                    <li (click)='setTheme("green")'><a><i class="fa fa-circle fagreen"
                                                                          style="color: green"></i> &nbsp;
                                        Windstream</a></li>
                                    <li (click)='setTheme("indigo")'><a> <i class="fa fa-circle faindigo"
                                                                            style="color: indigo"></i>
                                        &nbsp;Flickr</a></li>
                                    <li (click)='setTheme("blue")'><a> <i class="fa fa-circle fablue"
                                                                          style="color: blue"></i> &nbsp;Blue</a>
                                    </li>
                                    <li (click)='setTheme("navy")'><a> <i class="fa fa-circle fanavy"
                                                                          style="color: red"></i>
                                        &nbsp;Red</a></li>
                                    <li (click)='setTheme("white")'><a> <i class="fa fa-circle fawhite"
                                                                           style="color: white"></i> &nbsp;Simple</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="checkbox">
                                    <label><input type="checkbox" [(ngModel)]="isBoxShadow">Stand Out Boxes</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="checkbox">
                                    <label><input type="checkbox" [(ngModel)]="inEditMode">Blink Animation</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="checkbox">
                                    <label><input type="checkbox" [(ngModel)]="isShakeMode">Crazy Shake
                                        Animation</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="checkbox">
                                    <label><input type="checkbox" [(ngModel)]="isColorPicker">Use custom Color
                                        Scheme</label>
                                </div>
                            </div>
                            <div class="row" [hidden]="!isColorPicker">
                                <input [(colorPicker)]="color"
                                       [style.background]="color"
                                       [value]="color"
                                       [cpPosition]="'bottom'"/>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: center">
                        <button type="button" class="btn btn-success" (click)="disableDashboardEdit()">
                            Save
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Main content -->
    <section [@myAnimation]="show" class="content">

        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-offset-1 col-lg-6 connectedSortable">
                <!-- Custom tabs (Charts with tabs)-->
                <!---------------------------------------Account Details---------------------------------------------->
                <div [hidden]="!showAccountDetails">
                    <div [ngClass]="{'dimAnimation':inEditMode, 'shake' : isShakeMode, 'boxshadow':isBoxShadow}"
                         class="panel">
                        <div class="panel-heading"
                             [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo, noColor : isColorPicker}"
                             [ngStyle]="{'background-color':color}">
                            <h4>Account Details</h4>
                        </div>
                        <div class="panel-body">
                            <div class="custinfo table-responsive" onload="getInvoiceDueAmount();">
                                <table class="table table-striped">
                                    <tr>
                                        <td><b>Bill Amount:</b></td>
                                        <td><span *ngFor="let b of invoiceDueData">${{b.amount}} </span></td>
                                    </tr>
                                    <tr>
                                        <td><b>Due Date:</b></td>
                                        <td><span *ngFor=" let b of invoiceDueData">{{b.dueDate}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><b>Auto Pay:</b></td>
                                        <td>
                                            OFF <a href="http://windstream.com/">(Turn ON)</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="widget-detail-1">
                        <span *ngFor="let b of invoiceDueData">
                            <span *ngIf="b.paidAmount < 1">
                                <a>
                                    <button id="payBill" type="button" class="btn" [ngClass]="{ btnblue:isBlue, btnnavy: isNavy, btnwhite:isWhite, btngreen: isGreen, btnindigo: isIndigo,
                                    noColor : isColorPicker}"
                                            [ngStyle]="{'background-color':color}"
                                            data-toggle="modal"
                                            data-target=".bs-example-modal-lg" routerLink="/payment"
                                            routerLinkActive="active1">Pay My Bill >></button>
                                </a>
                            </span>
                            <span *ngIf="b.paidAmount > 1">
                                Paid Amount : ${{b.paidAmount}} <br/>
                                Paid Date : {{b.paidDate}}
                            </span>
                        </span>
                                <span style=" float: right;">  <a href="/billing">
                            <button id="viewBill" class="btn" [ngClass]="{ btnblue:isBlue, btnnavy: isNavy, btnwhite:isWhite, btngreen: isGreen, btnindigo: isIndigo,
                            noColor : isColorPicker}"
                                    [ngStyle]="{'background-color':color}">
                                View Bill >>
                            </button></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!---------------------------------------------Invoices---------------------------------------------->
                <div [hidden]="!showPreviousInvoices">
                    <div [ngClass]="{'dimAnimation':inEditMode, 'shake' : isShakeMode, 'boxshadow':isBoxShadow}"
                         class="panel">
                        <div class="panel-heading"
                             [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo, noColor : isColorPicker}"
                             [ngStyle]="{'background-color':color}">
                            <h4>Previous Invoices</h4>
                        </div>
                        <div class="panel-body">
                            <div class="custinfo table-responsive" onload="getInvoiceData();">
                                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery"
                                       #mf="mfDataTable"
                                       [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                                    <thead>
                                    <tr>
                                        <th><b>Date</b></th>
                                        <th><b>Amount</b></th>
                                        <th><b>Download Bill</b></th>
                                    </tr>
                                    </thead>
                                    <tbody *ngFor="let a of invoiceData">
                                    <tr>
                                        <td><a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapse{{a.id}}"
                                               ng-repeat="x in invoiceData"
                                               style="display: inline-block;font-size: 11.6px;"></a>&nbsp;{{a.month}}
                                            {{a.year}}{{i}}
                                        </td>
                                        <td>${{a.amount}}</td>
                                        <td><a href="http://www.google.com">View Bill</a></td>

                                    </tr>
                                    <tr id="collapse{{a.id}}" class="accordion-body collapse">
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item header">Services Subscribed <span
                                                        class="badge"></span></li>
                                                <li class="list-group-item">Internet</li>
                                                <li class="list-group-item">Phone</li>
                                                <li class="list-group-item">TV</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item header">Charged</li>
                                                <li class="list-group-item">${{a.internetBill}}</li>
                                                <li class="list-group-item">${{a.phoneBill}}</li>
                                                <li class="list-group-item">${{a.tvBill}}</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item header">Plan</li>
                                                <li class="list-group-item">Standard Internet 6 Mbps</li>
                                                <li class="list-group-item">Unlimited US Wide Calling</li>
                                                <li class="list-group-item">Dish America's Top 120+</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="widget-detail-1" style="text-align: center;">
                                <a routerLink="/viewinvoice">
                                    <button id="viewInvoices" class="btn" [ngClass]="{ btnblue:isBlue, btnnavy: isNavy, btnwhite:isWhite, btngreen: isGreen, btnindigo: isIndigo,
                                    noColor : isColorPicker}"
                                            [ngStyle]="{'background-color':color}">View All Invoices
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <!---------------------------------------------  Services Start ---------------------------------------------->

                <div [hidden]="!showServices">
                    <div [ngClass]="{'dimAnimation':inEditMode, 'shake' : isShakeMode, 'boxshadow':isBoxShadow}"
                         class="panel">
                        <div class="panel-heading"
                             [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo, noColor : isColorPicker}"
                             [ngStyle]="{'background-color':color}">
                            <h4>Services</h4>
                        </div>
                        <div class="panel-body">

                            <div class="panel-group">

                                <div class="panel panel-default noBorder">
                                    <div class="panel-body">
                                        <div class="col-lg-3">
                                            <img class="img-responsive" src="../../../images/internet.png"
                                                 alt="Chania" style="max-height: 80px">
                                        </div>
                                        <div class="col-lg-9">
                                            <h4>Standard Internet 6 Mbps</h4>
                                            <ul class="list-unstyled list-inline">
                                                <li>
                                                    <h4><a href="#">Upgrade Now</a></h4>
                                                </li>
                                                <li>
                                                    <h4><a href="#">Change Plan</a></h4>
                                                </li>
                                                <li>
                                                    <h4><a href="#">Troubleshoot</a></h4>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default noBorder">
                                    <div class="panel-body">
                                        <div class="col-lg-3">
                                            <img class="img-responsive" src="../../../images/tv.png"
                                                 alt="Chania" style="max-height: 80px">
                                        </div>
                                        <div class="col-lg-9">
                                            <h4>Dish America's Top 120+</h4>
                                            <ul class="list-unstyled list-inline">
                                                <li>
                                                    <h4><a href="#">Upgrade Now</a></h4>
                                                </li>
                                                <li>
                                                    <h4><a href="#">Change Plan</a></h4>
                                                </li>
                                                <li>
                                                    <h4><a href="#">Troubleshoot</a></h4>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default noBorder">
                                    <div class="panel-body">
                                        <div class="col-lg-3">
                                            <img class="img-responsive" src="../../../images/phone.png"
                                                 alt="Chania" style="max-height: 59px">
                                        </div>
                                        <div class="col-lg-9">
                                            <h4>Bundle a phone and save over 27$ a month</h4>
                                            <ul class="list-unstyled list-inline">
                                                <li>
                                                    <h4><a href="#">Add a Phone</a></h4>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---------------------------------------------  Services End ---------------------------------------------->

                <!---------------------------------------------carousel---------------------------------------------->
                <div>
                    <div [ngClass]="{'dimAnimation':inEditMode, 'shake' : isShakeMode, 'boxshadow':isBoxShadow}"
                         class="panel panel-default">
                        <div class="panel-body">
                            <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="6000"
                                 id="bs-carousel">

                                <div class="carousel-inner">
                                    <div class="item slides active">
                                        <div class="panel panel-group myCarouselPanel">
                                            <div class="slide-1">

                                            </div>
                                            <div class="hero">

                                                <h5 style="color: #5cb85c"><b>DISH & Internet Bundle</b></h5>

                                                <div>
                                                    <ul style="list-style-type: none; padding: 0px; margin: 0px;">
                                                        <li style="text-align: center;"><strong>You
                                                            Get:</strong></li>
                                                        <li style="text-align: center;">High-Speed Internet,
                                                            Unlimited Phone, and DISH TV all at one low price
                                                        </li>
                                                        <li></li>
                                                    </ul>
                                                </div>

                                                <div class="widget-detail-1"
                                                     style="text-align: center;padding-top: 10px">
                                                    <button class="btn btn-success greenBackGround">Check Availability
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item slides">
                                        <div class="panel panel-group myCarouselPanel">
                                            <div class="slide-2"></div>
                                            <div class="hero">

                                                <h5 style="color: #5cb85c"><b> Voice and Internet Bundle </b></h5>

                                                <div>
                                                    <ul style="list-style-type: none; padding: 0px; margin: 0px;">
                                                        <li style="text-align: center;"><strong>Speeds of up to 100
                                                            Mbps. No
                                                            speed-tiered
                                                            pricing.</strong></li>
                                                    </ul>
                                                </div>

                                                <div class="widget-detail-1"
                                                     style="text-align: center;padding-top: 10px">
                                                    <button class="btn btn-success greenBackGround">Get a Quote</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item slides">
                                        <div class="panel panel-group myCarouselPanel">
                                            <div class="slide-3">

                                            </div>
                                            <div class="hero">

                                                <h5 style="color: #5cb85c"><b>Online Only Offer!</b></h5>

                                                <div>
                                                    <ul style="list-style-type: none; padding: 0px; margin: 0px;">
                                                        <li style="text-align: center;"><strong> Receive a $100 credit
                                                            in cart
                                                            when you purchase an
                                                            internet plan</strong></li>
                                                    </ul>
                                                </div>
                                                <div class="widget-detail-1"
                                                     style="text-align: center;padding-top: 10px">
                                                    <button class="btn btn-success greenBackGround">Shop
                                                        Plans
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-4 connectedSortable">
                <!---------------------------------------------Notifications---------------------------------------------->
                <div [hidden]="!showNotifications">
                    <div [ngClass]="{'dimAnimation':inEditMode, 'shake' : isShakeMode, 'boxshadow':isBoxShadow}"
                         class="panel">
                        <div class="panel-heading"
                             [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo, noColor : isColorPicker}"
                             [ngStyle]="{'background-color':color}">
                            <h4>Notifications
                                <span class="pull-right" style="display: inline-block;">
              <i class="fa fa-bell faa-ring animated"></i>
            </span>
                            </h4>
                        </div>

                        <div class="panel-body" style="height: 195px;">
                            <ul class="list-unstyled">
                                <li>Your Bill for this month is Over Due. <a href="http://windstream.com">Pay Now.</a>
                                </li>
                                <br>
                                <li>Your last payment of 45$ has been processed.</li>
                                <br>
                                <li>It is more than an year since you last changed your password. <a
                                        href="http://windstream.com">Click here</a> to change now.
                                </li>
                                <br>
                            </ul>
                        </div>
                    </div>
                </div>

                <!------------------------------------------------------------Quick Links--------------------------------- -->
                <div [hidden]="!showQuickLinks">
                    <div [ngClass]="{'dimAnimation':inEditMode, 'shake' : isShakeMode, 'boxshadow':isBoxShadow}"
                         class="panel">
                        <div class="panel-heading"
                             [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo, noColor : isColorPicker}"
                             [ngStyle]="{'background-color':color}">
                            <h4>Quick Links
                                <span class="pull-right" style="display: inline-block;">
              <i class="fa fa-flash faa-ring animated"></i>
            </span>
                            </h4>
                        </div>

                        <div class="panel-body quicklink" style="height: 195px;color: firebrick;">

                            <span routerLink="/payment"><a><i
                                    class="fa fa-hand-o-right"></i>&nbsp;Make Payment</a></span>

                            <span routerLink="/billing" (click)="billing()"><a><i class="fa fa-hand-o-right"></i>&nbsp;Billing</a></span>

                            <span routerLink="/viewinvoice"><a><i class="fa fa-hand-o-right"></i>&nbsp;View Invoice Details</a></span>


                            <span routerLink="/createtroubleticket"><a><i class="fa fa-hand-o-right"></i>&nbsp;Create Trouble Ticket</a></span>

                            <span routerLink="/viewticket"><a><i
                                    class="fa fa-hand-o-right"></i>&nbsp;View Tickets</a></span>
                        </div>
                    </div>
                </div>

                <!---------------------------------------------BLOG---------------------------------------------->
                <div [hidden]="!showBlog">
                    <div [ngClass]="{'dimAnimation':inEditMode, 'shake' : isShakeMode, 'boxshadow':isBoxShadow}"
                         class="panel">
                        <div class="panel-heading" [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo
                            , noColor : isColorPicker}" [ngStyle]="{'background-color':color}">
                            <h4>Blog
                                <span class="pull-right" style="display: inline-block;">
                                         <i class="fa fa-rss animated"></i>
                                    </span>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="row col-lg-11" style="margin: auto">
                                <input type="text" class="form-control"
                                       placeholder="Subscribe our blog. What's your email ?"/>
                            </div>
                            <div class="row col-lg-11" style="margin: auto;  padding-top:10px; text-align: center">
                                <button type="button" class="btn" [ngClass]="{ btnblue:isBlue, btnnavy: isNavy, btnwhite:isWhite, btngreen: isGreen, btnindigo: isIndigo
                                    , noColor : isColorPicker}"
                                        [ngStyle]="{'background-color':color}">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!---------------------------------------------Tickets---------------------------------------------->
                <div [hidden]="!showOpenRequests">
                    <div [ngClass]="{'dimAnimation':inEditMode, 'shake' : isShakeMode, 'boxshadow':isBoxShadow}"
                         class="panel">
                        <div class="panel-heading" [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo,
                        noColor : isColorPicker}" [ngStyle]="{'background-color':color}">
                            <h4>Open Requests
                                <span class="pull-right" style="display: inline-block;">
                                    <i class="fa fa-ticket animated"></i>
                                </span>
                            </h4>
                        </div>

                        <div class="panel-body">
                            <div class="custinfo table-responsive" onload="getAllTickets();">
                                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery"
                                       #mf="mfDataTable"
                                       [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                                    <thead>
                                    <tr>
                                        <th><b>Category</b></th>
                                        <th><b>Status</b></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of ticketData">

                                        <td>
                                            <a href="http://windstream.com"> {{item.name}}</a>
                                        </td>
                                        <td>
                                            <div *ngIf="item.resolved==true">Closed</div>
                                            <div *ngIf="item.resolved!=true">Open</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="widget-detail-1" style="text-align: center;">
                                <a href="/viewticket">
                                    <button id="viewTickets" class="btn" [ngClass]="{ btnblue:isBlue, btnnavy: isNavy, btnwhite:isWhite, btngreen: isGreen, btnindigo: isIndigo,
                                    noColor : isColorPicker}"
                                            [ngStyle]="{'background-color':color}">View All Tickets
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!---------------------------------------------SUPPORT---------------------------------------------->
                <div [hidden]="!showSupport">
                    <div [ngClass]="{'dimAnimation':inEditMode, 'shake' : isShakeMode, 'boxshadow':isBoxShadow}"
                         class="panel"
                         style=" height: 310px;">
                        <div class="panel-heading" [ngClass]="{ blue:isBlue, navy: isNavy, white:isWhite, green: isGreen, indigo: isIndigo,
                        noColor : isColorPicker}" [ngStyle]="{'background-color':color}">
                            <h4>Support
                                <span class="pull-right" style="display: inline-block;">
                                    <i class="fa fa-question-circle animated"></i>
                                    </span>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <p style="min-height: 70px; padding-left: 13px;">
                                Choose from the following options <br/>
                                If you’re in need further assistance.
                            </p>
                            <div
                                    style="color: rgb(119, 184, 0); padding-bottom: 10px; padding-left: 13px;">
                                <img
                                        src="http://smallbusiness.windstream.com/uploadedImages/SMB_Site/Content/Horizontal_Callout/phoneIcon.png"
                                        alt="Phone Icon" title="Phone Icon"
                                        style="float: none; vertical-align: top;"><span
                                    style="vertical-align: top;">&nbsp;&nbsp;&nbsp;<strong>(866)
        260-1615</strong></span>
                            </div>
                            <br>
                            <div style="color: rgb(119, 184, 0); padding-bottom: 10px; padding-left: 13px;">
                                <img
                                        src="http://smallbusiness.windstream.com/uploadedImages/SMB_Site/Content/Horizontal_Callout/emailIcon.png"
                                        alt="Email Icon" title="Email Icon"
                                        style="float: none; vertical-align: top;"><span
                                    style="vertical-align: top;">&nbsp;&nbsp;<strong>Email
        Us</strong></span>
                            </div>
                            <br>
                            <div
                                    style="color: rgb(119, 184, 0); padding-bottom: 10px; padding-left: 13px;">
                                <img
                                        src="http://smallbusiness.windstream.com/uploadedImages/SMB_Site/Content/Horizontal_Callout/liveChatIcon.png"
                                        alt="Live Chat Icon" title="Live Chat Icon"
                                        style="float: none; vertical-align: top;"><span
                                    style="vertical-align: top;">&nbsp;&nbsp;<strong>Live
        Chat</strong></span>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
    <!-- Color Picker -->
    <div class="modal fade" id="myColorPickerModal" role="dialog">
        <div class="modal-dialog">

            <!-- Content-->
            <div class="modal-content">

                <div class="modal-header ">
                    <h4 class="modal-title">Edit Screen</h4>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-offset-4 col-lg-8">
                            <label>
                                Are you sure ? </label>
                        </div>
                    </div>
                    <div class="row" style="text-align: center">

                        <button type="button" class="btn btn-success" data-dismiss="modal"
                                (click)="enableDashboardEdit()">
                            Yes
                        </button>

                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            No
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>